<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name=viewport content="width=device-width,initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        <link rel="stylesheet" href="/static/style.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react-dom.js"></script>

        <script>window.__REDUX_STATE__ = {% autoescape false %}{{ state }}{% endautoescape %};</script>
    </head>
    <body>
        <div id="react-view">
            {% autoescape false %}
            {{ html }}
            {% endautoescape %}
        </div>
        <script src="/static/bundle.js"></script>
    </body>
</html>