{% extends '../layout.html' %}

{% block main %}
<ul class="search-results">

    {% for product in products %}
    <li class="panel">
        <div class="panel-body">
            <header>
                <img src="https://placekitten.com/70/140"/>

                <hgroup>
                    <h2>{{ product.name }}</h2>
                    <h3>{{ product.resolvedPublisher.name }}</h3>
                </hgroup>

                <a href="#" class="fa fa-cloud-download" title="Download">
                    <span>Download</span>
                </a>
            </header>

            <section class="tags">
                <ul>
                    <li><a href="#">Tag</a></li>
                    <li><a href="#">Tag</a></li>
                    <li><a href="#">Tag</a></li>
                    <li><a href="#">Tag</a></li>
                    <li><a href="#">Tag</a></li>
                </ul>
            </section>

            <section class="information">
                <h3>
                    <i class="fa fa-info-circle"></i>
                    Information
                </h3>

                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus lorem, efficitur a quam in, vestibulum auctor nisi. Nulla aliquet turpis eget ipsum commodo, in feugiat justo ultrices. Etiam vehicula in tortor in imperdiet. Suspendisse velit augue, suscipit malesuada dapibus nec, consectetur eget odio. Nullam pulvinar interdum turpis in mattis. Sed rhoncus bibendum bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                    <p>Pellentesque vel consectetur leo, eu finibus elit. Aenean nec rutrum orci, nec congue risus. Cras massa sapien, laoreet quis bibendum vel, aliquet ut justo. Nullam tempus leo nisl. Pellentesque eleifend, enim ut ullamcorper sollicitudin, velit metus placerat ipsum, ut sagittis velit diam eget ex. Sed tincidunt molestie condimentum. Sed iaculis justo in purus tempus, eu vestibulum lorem venenatis. Vivamus quis massa vitae nisl aliquam vulputate. Mauris sed tortor augue. Nullam ut justo egestas, semper nisi vitae, pretium tellus. Nulla at odio augue. Nulla nec luctus magna. Donec nisl sapien, faucibus a neque vel, malesuada sollicitudin erat. Nullam purus enim, sodales a cursus eu, faucibus porttitor metus. Curabitur nulla turpis, fringilla vitae tincidunt et, dictum eu felis. Pellentesque hendrerit fermentum mauris, et sollicitudin orci tincidunt quis.</p>
                </div>
            </section>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}