{% extends '../layout.html' %}

{% block title %}Login{% endblock %}

{% block main %}
<div id="login-form-wrapper" class="panel">
    {% autoescape false %}
    {{ loginForm }}
    {% endautoescape %}
</div>

<script type="text/javascript">
    renderLoginForm();
</script>
{% endblock %}