{% extends '../layout.html' %}

{% block title %}Login{% endblock %}

{% block main %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">{{ user.username }}'s Account</h1>
    </div>

    <div class="panel-body">
        {% if userSuccess %}
            <p class="success">{{ userSuccess }}</p>
        {% endif %}

        <a href="/user/logout" class="btn btn-default">Log Out</a>
    </div>
</div>
{% endblock %}