{% extends '../layout.html' %}

{% block title %}Register{% endblock %}

{% block main %}
<div id="register-form-wrapper" class="panel">
    {% autoescape false %}
    {{ registerForm }}
    {% endautoescape %}
</div>

<script type="text/javascript">
    renderRegisterForm();
</script>
{% endblock %}