@import "includes";

body {
  background: #3a3a3a;
}

#header {
  margin: 1em;
}

#search {
  margin-bottom: 1em;

  > .input-group {
    display: inline-table;
    width: calc(100% - 7em);

    select {
      width: 11em;
    }

    input {
      width: calc(100% - 17em);
    }

    .input-group-btn {
      display: inline-block;

      button {
        width: 6em;
        padding-bottom: 7px;
      }
    }
  }

  .basket-icon {
    width: 7em;
    display: inline-block;
    text-align: right;
    color: white;

    span {
      padding-right: 0.5em;
    }

    i {
      color: white;
      font-size: 1.2em;
    }
  }
}

.navbar > .container-fluid > ul {
  width: 100%;

  .pull-right {
    float: right;
  }

  > li:hover > ul {
    display: block;
  }
}

main {
  margin: 1em;
}

.panel-body {
    h1:first-child, h2:first-child, h3:first-child, h4:first-child {
        margin-top: 0;
    }
}

.search-results {
  padding: 0;

  .panel {
    border: 0;
  }

  .panel-body {
    padding: 0;

    // Not sure what bootstrap is playing at here, but this caused a stupid gap
    &:before {
      display: none;
    }
  }

  header {
    border-bottom: 1px solid black;
    overflow: hidden; // @todo find proper bootstrap method of containing floats
    position: relative;

    img {
      float: left;
    }

    hgroup, a.fa-cloud-download {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    hgroup {
      float: left;
      left: 7em;
    }

    h2, h3 {
      margin: 0;
    }

    h3 {
      font-size: 18px;
      color: $lighter-font;
    }

    span.price {
      display: block;
      font-family: $font-family-base;
    }

    a.fa-cloud-download {
      float: right;
      right: 1em;
      color: inherit;
      font-size: 2em;
      text-align: center;

      span {
        display: none;
      }
    }
  }

  section {
    clear: both;
  }

  .tags {
    list-style: none;
    border-bottom: 1px solid black;
    padding: 0.8em;
    background: #eee;

    ul {
      padding: 0;
    }

    li {
      background: #ddd;
      display: inline-block;
      border: 1px solid #666;
      padding: 0.3em;
      margin-right: 0.2em;

      a {
        color: inherit;
      }
    }
  }

  .play {
    padding: 1em;
    background: #eee;
    border-bottom: 1px solid black;

    div {
      background: white;
      border: 1px solid #666;
      padding: 0.3em;
      overflow: hidden;
    }

    a {
      color: inherit;
      font-size: 2em;
      margin-bottom: -0.1em;
      float: left;
      display: block;

      span {
        font-family: $font-family-base;
        font-size: 0.6em;
        position: relative;
        bottom: 0.25em;
      }
    }

    span.length {
      float: right;
      font-size: 1.2em;
      margin-right: 0.2em;
    }
  }

  .information {
    h3 {
      text-align: center;
      margin: 0.5em;
      font-size: 16px;
    }

    div {
      margin: 1em;
    }
  }
}

ul.errors {
  list-style: none;
  padding-left: 0;
  color: $state-danger-text;
}

.footer {
  color: white;
  padding: 0 1em 1em 1em;

  a {
    color: white;
  }
}

form span.required {
  color: $state-danger-text;
}

.table.order-details {
  .active {
    font-weight: bold;
  }
}

@media screen and (max-width: $mobile) {
  .navbar > .container-fluid > ul .pull-right {
    float: none;
  }

  .navbar .pull-right > .dropdown-menu {
    right: auto;
  }

  table.basket tbody td .form-control{
    width:20%;
    display: inline !important;
  }
  .actions .btn{
    width:36%;
    margin:1.5em 0;
  }

  .actions .btn-info{
    float:left;
  }
  .actions .btn-danger{
    float:right;
  }

  table.basket thead { display: none; }
  table.basket tbody td { display: block; padding: .6rem; min-width:320px;}
  table.basket tbody tr td:first-child { background: #333; color: #fff; }
  table.basket tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
  }

  table.basket tfoot td{display:block; }
  table.basket tfoot td .btn{display:block;}
}